.BtnList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10em;
}

.BtnList button {
  width: 10em;
  padding: 1em 0;

  font-size: 17px;
  color: #fff;
  border: 2px solid gray;
  border-radius: 10px;
}